/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'BlanchCapsRegular';
  src: url("fonts/blanch_caps-webfont.eot");
  src: url("fonts/blanch_caps-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/blanch_caps-webfont.woff") format("woff"), url("fonts/blanch_caps-webfont.ttf") format("truetype"), url("fonts/blanch_caps-webfont.svg#BlanchCapsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'League Gothic';
  src: url("fonts/leaguegothic-regular-webfont.eot");
  src: url("fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/leaguegothic-regular-webfont.woff") format("woff"), url("fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
    font-family: 'PacificoRegular';
    src: url('Pacifico-webfont.eot');
    src: url('Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('Pacifico-webfont.woff') format('woff'),
         url('Pacifico-webfont.ttf') format('truetype'),
         url('Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url(fonts/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*
	COLORS
*/
/* line 63, ../sass/styles.scss */
* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Pacifico', arial;
}

/* line 68, ../sass/styles.scss */
html {
  /*background: rgb(120,55,154) url(../img/bg.png) no-repeat top center; 
  background-size: 100%;
  background-attachment: fixed; */
}

/* line 74, ../sass/styles.scss */
body {
  background: #72bf97;
}

/* line 78, ../sass/styles.scss */
div.push {
  height: 43px;
}

/* NAV */
/* line 84, ../sass/styles.scss */
nav {
  width: 100%;
  /*background-color: #efeff1;*/
  background-color: #728ebf;
  height: 43px;
  text-align: center;
  position: fixed;
  /*box-shadow: 2px;*/
}
/* line 94, ../sass/styles.scss */
nav .container {
  width: 100%;
  max-width: 820px;
}
/* line 99, ../sass/styles.scss */
nav div {
  display: inline-block;
  text-align: center;
  width: 15%;
  padding: 5px;
}
/* line 106, ../sass/styles.scss */
nav div.home {
  width: 10%;
}
/* line 107, ../sass/styles.scss */
nav div.weddingparty {
  width: 20%;
}
/* line 109, ../sass/styles.scss */
nav div a {
  text-decoration: none;
  font-family: 'League Gothic';
  font-size: 25px;
  color: #78379a;
}
/* line 116, ../sass/styles.scss */
nav div a:hover {
  text-decoration: underline;
}

/* SECTIONS */
/* line 124, ../sass/styles.scss */
.main .container {
  width: 100%;
  max-width: 709px;
  margin: 0 auto;
  border: solid 1px black;
  /*background: #efeff1; */
  background: #78379a;
}

/* line 133, ../sass/styles.scss */
.main section {
  margin-top: 20px;
  font-family: 'League Gothic';
  font-size: 25px;
}

/* line 139, ../sass/styles.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* RESPONSIVE */
@media all and (max-width: 620px) {
  /* line 147, ../sass/styles.scss */
  .push {
    display: none;
  }

  /* align navigation in block */
  /* line 150, ../sass/styles.scss */
  nav {
    position: relative;
    height: auto;
  }
  /* line 151, ../sass/styles.scss */
  nav div, nav div.home, nav div.weddingparty {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: solid 1px black;
  }
  /* line 158, ../sass/styles.scss */
  nav div.container {
    border: none;
    padding: 0;
    margin: 0;
  }
  /* line 160, ../sass/styles.scss */
  nav a {
    width: 100%;
    display: block;
  }

  /* line 163, ../sass/styles.scss */
  .main .container {
    border: none;
  }
}
