/* line 1, ../sass/ribbon.scss */
.ribbon {
  font-size: 52px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  width: 100%;
  position: relative;
  background: #131a35;
  color: #fff;
  text-align: center;
  padding: 1em 2em;
  /* Adjust to suit */
  margin: 2em auto 3em;
  /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

/* line 15, ../sass/ribbon.scss */
.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid rgba(19, 26, 53, 0.59);
  z-index: -1;
}

/* line 23, ../sass/ribbon.scss */
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}

/* line 28, ../sass/ribbon.scss */
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}

/* line 33, ../sass/ribbon.scss */
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: rgba(19, 26, 53, 0.39) transparent transparent transparent;
  bottom: -1em;
}

/* line 41, ../sass/ribbon.scss */
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}

/* line 45, ../sass/ribbon.scss */
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
