/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transform";
@import "ribbon";

// @import "basicsAndFonts";

$main_color: #131a35;
// $main_color: #132156;


* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: 'Pacifico', arial;
}

html { background: transparent; zoom: 1.2;  }

// a page is 2550px by 3300px at 330dpi ...
// a real page is 800px width by 1050px height
#container {
  margin: 0 auto;
  width: 850px;
  // height: 1050px;

  // border: solid 1px black;
  // background: red;

  position: relative;
}

.page {
  // margin-top: 5px;
  height: 1053px;
  // margin-bottom: 25px;
  // border-bottom: solid 15px red;

  // border: solid 2px red;

  // border-bottom: solid 1px black;
}

.row {
  clear: both;

  height: 200px;


  &:nth-child(2),
  &:nth-child(4) {
      border-bottom: solid 1px black;
  }

}


.card {
  height: 200px;
  width: 399px;

  // border-left: solid 1px black;

  float: left;
  position: relative;

  .leaf {
    position: absolute;
    width: 150px;
    top: 36px;
    left: 30px;
  }

  .a_and_a {
    font-family: 'Roboto Slab', serif;
    // font-family: 'Oswald', sans-serif;
    font-size: 34px;
    position: absolute;
    left: 70px;
    top: 71px;
  }

  .date {
    font-family: 'Yeseva One', cursive;
    font-size: 19px;
    position: absolute;
    left: 81px;
    top: 111px;
  }

  .name {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    position: absolute;
    left: 195px;
    top: 52px;
    line-height: 1.1em;
  }

  .special_name {
    font-size: 17px;
    top: 105px;
  }

  .blueberry { top: 60px; }
  // .pb { top: 65px;  }
  .cookies_and_cream { top: 60px;  }

  .pastry { top: 67px; }


  .table_number {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    position: absolute;
    left: 232px;
    top: 166px;
  }



  .meal {
    font-family: 'Lobster', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    position: absolute;
    left: 167px;
    top: -183px;
    @include rotate(180deg);
  }


}

.spacer {
  width: 100%;
  // height: 262px;
  // background: green;
}













// blah
