/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transform";
@import "ribbon";

@font-face {font-family: "MCM Hellenic Wide";
    src: url("//db.onlinewebfonts.com/t/8dfe8ad456e43c5c267b846f2316bf3b.eot");
    src: url("//db.onlinewebfonts.com/t/8dfe8ad456e43c5c267b846f2316bf3b.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8dfe8ad456e43c5c267b846f2316bf3b.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/8dfe8ad456e43c5c267b846f2316bf3b.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/8dfe8ad456e43c5c267b846f2316bf3b.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/8dfe8ad456e43c5c267b846f2316bf3b.svg#MCM Hellenic Wide") format("svg");
}
@font-face {font-family: "Futura";
    src: url("//db.onlinewebfonts.com/t/9ab8abd11c40ee5c8d1905f9c9cb9ac8.eot");
    src: url("//db.onlinewebfonts.com/t/9ab8abd11c40ee5c8d1905f9c9cb9ac8.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/9ab8abd11c40ee5c8d1905f9c9cb9ac8.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/9ab8abd11c40ee5c8d1905f9c9cb9ac8.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/9ab8abd11c40ee5c8d1905f9c9cb9ac8.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/9ab8abd11c40ee5c8d1905f9c9cb9ac8.svg#Futura") format("svg");
}
@font-face {font-family: "Bebas Neue";
    src: url("//db.onlinewebfonts.com/t/d9472afe9afe8f7ec10413d6d7cf610b.eot");
    src: url("//db.onlinewebfonts.com/t/d9472afe9afe8f7ec10413d6d7cf610b.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d9472afe9afe8f7ec10413d6d7cf610b.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/d9472afe9afe8f7ec10413d6d7cf610b.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/d9472afe9afe8f7ec10413d6d7cf610b.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/d9472afe9afe8f7ec10413d6d7cf610b.svg#Bebas Neue") format("svg");
}

@import "basicsAndFonts";

$main_color: #131a35;
// $main_color: #132156;


* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: 'Pacifico', arial;
}

// html { background: white; }
// html { background: purple; }

// a page is 2550px by 3300px at 330dpi ...
// a real page is 800px width by 1050px height
#container {
  margin: 0 auto;
  width: 850px;
  height: 1100px;

  border: solid 1px black;
  // background: red;

  position: relative;
}


#logo {
  position: absolute;
  left: 67px;
  top: 20px;

  .leaf {
    width: 200px;
    margin-top: 10px;
  }

  .a_and_a {
    font-family: 'Roboto Slab', serif;
    // font-family: 'Oswald', sans-serif;
    font-size: 42px;
    position: absolute;
    left: 56px;
    top: 57px;
  }

  .date {
    font-family: 'Yeseva One', cursive;
    font-size: 23px;
    position: absolute;
    left: 69px;
    top: 107px;
  }

} // #logo

#content {

  position: relative;
  top: 35px;
  left: 300px;
  width: 500px;

  text-align: left;

  background: red;

  .spacer {
    display: block;
    height: 50px;
  }

  p {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    clear: left;
    display: block;
    margin-bottom: 30px;
  }

  p#hashtag {
    font-family: 'Roboto Slab', serif;
    font-family: 'Lobster', cursive;
    font-size: 35px;
  }

} // #content_front









// blah
